html {
    height: 100%;
}

body {
    background-color: #333344;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 95%;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

div.clock {
    background-color: #444455;
    color: #CCCCCC;
    padding: 2em;
    border-radius: 0.5em;
    text-align: center;
}

div.time {
    font-size: 4em;
}

div.date {
    font-size: 2.6em;
}
