html {
    height: 100%;
}

body {
    background-color: #333344;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 95%;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    color: #CCCCCC;
}

div.dashboard-item {
    background-color: #444455;
    padding: 2em;
    border-radius: 0.5em;
    margin: 1em;
}

div.clock {
    text-align: center;
}

div.news a {
    color: #CCCCFF
}

div.news h1 {
    margin-top: 0;
    font-size: 1.7em;
    text-align: center;
}

div.time {
    font-size: 4em;
}

div.date {
    font-size: 1.5em;
}
