html {
    height: 100%;
}

body {
    background-color: #333344;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 95%;
}

div.content {
    background-color: #444455;
    padding: 2em;
    border-radius: 0.5em;
}
